
<form id="searchuser" class="searchUser" name="searchbyuserform" action="/users/search" method="get">
  <br />
  <br />
  Search By User: <input type="text" name="search_by_user_query">
  <input type="submit" value="Submit" />
  <br />
</form>