<form name="searchbyuserform" action="/users/search" method="get">
<br />
  <br />
  Search : <input type="text" name="search_by_user_query"> <br />
  <input type="submit" value="Submit" />
  <br />
</form>