<form id="search" class="searchPost" name="searchbycontentform" action="/users/search_by_content" method="get">
  Search By Post: <input type="text" name="search_by_content_query">
  <input type="submit" value="Submit" />
  <br />
</form>