<h1>CSC 517 BackChannelApp</h1>
<%= render 'login'%>
<form>
<br />
  <br />
  Search : <input type="text" name="searchquery">
  <input type="submit" value="Submit" />
  <br />
</form>

<%= link_to 'Register', :controller => 'users', :action => 'new' %>



