<div class="login">
  <br/>
  <%= render 'login'%>
<br/>
New User? <%= link_to 'Register Here', :controller => 'users', :action => 'new' %>
  </div>
<div id="search" class="search">
<%= render 'search'%>
<%= render 'search_by_content'%>
</div>





