<h2> You have logged in as an admin user.</h2>
You have the power to delete users, posts, and comments, and also to assign roles to Users By Editing User Details and assigning Role to 'admin' <br />
<%= link_to 'View Users', :controller => 'users', :action => 'index' %> <br />
<%= link_to 'View Posts', :controller => 'posts', :action => 'index' %> <br />
<%= link_to 'Back',  :controller => 'main', :action => 'index' %> <br />

