<%= form_for(@posts_vote) do |f| %>
  <% if @posts_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posts_vote.errors.count, "error") %> prohibited this posts_vote from being saved:</h2>

      <ul>
      <% @posts_vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
