/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.header{
       background-color: #99CCFF;
       color: #00008B;
       font-size: 18pt;
        font-family: Helvetica;
       text-indent: 20px;
        padding-top:15px;
        height: 45px;
}

.links_on_page{
    font-size: 11pt;
    text-align: center;
    margin-left: 150px;
}

.search{
    margin-right: 400px;
    margin-top: 20px;
    margin-left: 200px;
    width: 400px;
    height: 150px;
    border: 1px solid #99CCFF;
    border-radius: 20px;
}

.searchUser{
    text-align: center;
    color: #00008B;
}

.searchPost{
     text-align: center;
    color: #00008B;
}

.login{
    position: absolute;
    text-align: center;
    margin-right: 600px;
    margin-top: 20px;
     margin-left: 800px;
    width: 250px;
    height: 150px;
    color: #00008B;
    border: 1px solid #99CCFF;
    border-radius: 20px;
}

.logout_button{
   text-align: right;
   font-size: 11pt;
}

.logged_in_user{
   position : absolute;
   font-size: 11pt;
   text-align: left;

}
.links_on_page{
    position : absolute;
    font-size: 11pt;
    margin-left: 600px;
}