// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .postBorder{
    margin-right: 400px;
    margin-left: 200px;
    width: 400px;
    height: 150px;
    border: 1px solid #99CCFF;
    border-radius: 20px;
 }